@media (min-width: 320px) and (max-width: 768px) {
  .header-top {
    display: flex;
  }
  .header-img-left {
    width: 111px;
    height: 74px;
    margin-left: 0;
  }
  
  .header-nav-lg {
    width: 20px;
    height: 14px;
    color: #C4C4C4;
    margin-left: 174px;
  }
  .header-nav-lg a {
    color: #C4C4C4;
  } 
  
  .about-container {
    display: flex;
    flex-direction: column;
    width: 288px;
    margin-left: 16px;
    margin-right: 16px;
  }
  
  .header-my-name {
    width: 220px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .header-my-name h1 {
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
  }
  
  .header-about {
    width: 288px;
    height: 126px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .aboutme {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
  }
  
  .header-btn {
    width: 288px;
    height: 50px;
    margin-left: 16px;
    background: #1a2236;
  }
  
  #btn-collabo {
    width: 288px;
    height: 50px;
    background: #1a2236;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgb(255 255 255);
    border: none;
    cursor: pointer;
  }
  
  .header-img-bottom {
    width: 320px;
    height: 160px;
    margin-left: 0;
    margin-top: 32px;
  }
  
}