@import url("https://fonts.googleapis.com/css2 family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  font-size: large;
  font-weight: bold;
}

ul {
  list-style: none;
}

.header-hover:hover {
  background-color: #1a2236;
}

.header-hover:hover a {
  color: #fff;
}

.cursor {
  cursor: pointer;
}

.cursor:hover {
  background-color: rgb(46, 175, 158);
  font-size: larger;
  font-weight: bold;
}

input[type="text"],
[type="email"]::placeholder {
  padding-left: 10px;
  padding-top: 0;
}

textarea::placeholder {
  padding: 15px;
}

.fadeOut {
  visibility: hidden !important;
  opacity: 0 !important;
}

#errorMessage {
  align-self: center;
  height: 40vh;
  width: 100%;
  background-color: rgb(240, 6, 6);
  opacity: 1;
  transition: all 3s ease-in;
  visibility: visible;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8em;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  .display-none {
    display: none;
  }

  .header-top {
    display: flex;
    flex-direction: row;
  }

  .desk-nav {
    display: none;
  }

  .header-img-left {
    margin-left: 0;
  }

  #header-nav-lg {
    width: 40px;
    height: 14px;
    margin-top: 16px;
    margin-left: 174px;
    color: #c4c4c4;
  }

  #header-nav-lg a {
    color: #c4c4c4;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
  }

  .header-my-name {
    width: 220px;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 36px;
  }

  .about-me-dsk p,
  h3 {
    width: 100%;
  }

  .header-my-name h3 {
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
  }

  .header-about {
    width: 288px;
    height: 126px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .aboutme {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
  }

  .header-btn {
    width: 288px;
    height: 50px;
    margin-left: 16px;
    background: #1a2236;
  }

  .header-img-bottom {
    width: 320px;
    height: 160px;
    margin-left: 0;
    margin-top: 32px;
  }

  .btn-collabo {
    width: 65%;
    height: 10vh;
    background: #1a2236;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgb(255 255 255);
    border: none;
    cursor: pointer;
  }

  /* sections */
  .projects {
    display: grid;
    grid-template-areas: 'projects-wrapper';
    gap: 0;
    padding: 0;
    margin-top: 40px;
  }

  .desk-projects {
    display: none;
  }

  .title {
    height: 50px;
    margin-left: 16px;
    font-family: Playfair Display, Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
    margin-bottom: 32px;
  }

  .projects-wrapper {
    display: flex;
    flex-direction: column;
    height: 342px;
  }

  .project-img {
    width: 320px;
    height: 186px;
    margin-left: 0;
    border: 0.333333px solid rgba(255, 255, 255, 0.1);
  }

  .project-lg {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 156px;
    margin-top: -6px;
    background: #1a2236;
    border: 0.333333px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
  }

  .project-lg-1 {
    display: flex;
    flex-direction: column;
    width: 264px;
    height: 156px;
    margin-left: 20px;
  }

  .project-lg-1 h3 {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 16px;
    margin-left: 0;
  }

  .list-languages {
    margin-left: -5px;
  }

  .list-languages ul {
    display: flex;
    list-style: none;
    width: 300px;
    margin-bottom: 20px;
  }

  .list-languages ul li {
    background: #98dede;
    font-size: smaller;
    height: 25px;
    width: 90px;
    margin: 0 5px;
    padding: 3px;
  }

  .list-languages ul li:first-child {
    width: 75px;
  }

  .list-languages ul li:last-child {
    width: 70px;
  }

  .project-view {
    margin-top: 20px;
    background-color: #1a2236;
    border: 1px solid #fff;
    width: 178px;
    height: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
  }

  .project-view-union {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fff;
  }

  .project-view img {
    padding-left: 2px;
  }

  /* about */
  .about {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    margin-left: 16px;
    margin-right: 16px;
    grid-auto-rows: minmax(100%, auto);
  }

  .about-me {
    width: 288px;
    height: 278px;
  }

  .about-me h3 {
    width: 134px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
  }

  .about-me p {
    margin-top: 20px;
    width: 288px;
    height: 126px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #1a2236;
  }

  #about-view {
    width: 288px;
    height: 50px;
    background: #1a2236;
    margin-top: 32px;
    border: none;
  }

  .project-view-btn {
    width: 86px;
    height: 24px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fff;
  }

  .cv-btn {
    width: 24px;
    height: 18px;
    margin-left: 20px;
    box-sizing: border-box;
  }

  .langs-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .langs {
    display: flex;
    flex-direction: column;
    width: 289px;
    background: #1c528a;
    margin-top: 20px;
  }

  .content-list {
    margin-left: 50px;
    color: #fff;
    padding-top: 50px;
  }

  .content-list h3 {
    margin-left: 27px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
  }

  .content-list ul {
    margin-top: 20px;
  }

  .frameworks {
    display: flex;
    flex-direction: column;
    width: 289px;
    background: #e2505c;
    margin-top: 16px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    width: 289px;
    background: #febf52;
    margin-top: 16px;
  }

  .langs-section img {
    margin-left: 193px;
    width: 96px;
    height: 80px;
  }

  /* footer and contact */
  footer {
    margin-top: 50px;
    width: 320px;
    height: 813px;
    margin-left: -2px;
    background: #f9f9fa;
  }

  .contact {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    margin-right: 14px;
    margin-top: 32px;
  }

  .contact-description h3 {
    font-family: Playfair Display, Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
    margin-bottom: 20px;
  }

  .contact-description p {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
    margin-bottom: 32px;
  }

  form {
    padding-bottom: 8px;
  }

  form .name {
    background: #fff;
    border: 1px solid #dfdfe0;
    box-sizing: border-box;
    border-radius: 4px;
    width: 288px;
    height: 52px;
  }

  form .email {
    background: #fff;
    border: 1px solid #dfdfe0;
    box-sizing: border-box;
    border-radius: 4px;
    width: 288px;
    height: 52px;
    margin-top: 8px;
  }

  form textarea {
    width: 288px;
    height: 112px;
    background: #fff;
    border: 1px solid #dfdfe0;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 20px;
  }

  .social-footer {
    width: 320px;
    height: 150px;
    margin-left: 0;
    margin-top: 44px;
    margin-bottom: 0;
    background: #1a2236;
  }

  .social-footer ul {
    display: flex;
    list-style-type: none;
    width: 253px;
    margin-right: 100px;
    align-content: center;
    align-self: center;
  }

  .social-container {
    display: flex;
    flex-direction: column;
    border-top: 32px solid #1a2236;
    border-bottom: 40px solid #1a2236;
    border-left: 16px solid #1a2236;
    border-right: 16px solid #1a2236;
    margin-top: 180px;
  }

  .social-container p {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 253px;
    color: #92dcdc;
    margin-bottom: 20px;
    margin-left: 16px;
  }

  .social-container img {
    margin-left: 16px;
  }
}

/* desktop version min-992 */
@media (min-width: 768px) {
  .container {
    width: 100%;
  }

  .header-top {
    display: none;
  }

  .desk-nav {
    width: 100%;
    height: 100px;
    background: #fff;
    box-shadow: 0 0.5px 0 #dddfe6;
    display: flex;
    justify-content: center;
  }

  .desk-nav ul {
    padding: 20px;
  }

  .desk-nav ul li {
    display: inline-block;
    margin: 10px 20px;
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  .desk-nav ul li a {
    color: #1a2236;
  }

  .content-list ul li {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.0525em;
  }

  .list-languages ul li {
    background: #98dede;
    font-size: smaller;
    height: 40px;
    width: 24%;
    margin: 0 20px;
  }

  .social-footer ul li {
    color: #fff;
    margin-left: 0;
    padding-left: 10px;
    margin-right: 0;
    padding-right: 0;
  }

  .desk-nav ul li:first-child {
    color: #1a2236;
    text-decoration: underline;
  }

  .header-img-bottom {
    display: none;
  }

  .about-container {
    display: flex;
    flex-direction: row;
  }

  .desk-about {
    margin-left: 9%;
    display: flex;
    flex-direction: column;
    height: 877px;
    width: 38%;
  }

  .header-my-name {
    width: 50%;
    height: 220px;
    margin-top: 192px;
    margin-bottom: 60px;
  }

  .header-my-name h3 {
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 110px;
    line-height: 100%;
    color: #1a2236;
  }

  .about-me h3 {
    width: 13%;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
  }

  .aboutme {
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
    margin-bottom: 60px;
  }

  .btn-collabo {
    width: 50%;
    height: 70px;
    background: #1a2236;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgb(255 255 255);
    border: none;
    cursor: pointer;
  }

  .btn-collabo-desk {
    width: 50%;
    height: 50px;
    background: #1a2236;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgb(255 255 255);
    border: none;
    cursor: pointer;
    margin-left: 130px;
    margin-top: 70px;
  }

  .img-dots {
    margin-top: 50px;
    margin-left: 68%;
  }

  .header-img-left img {
    height: 877px;
    width: 100%;
  }

  .projects {
    display: none;
  }

  .grid-container {
    margin-top: 209px;
    display: grid;
    gap: 0;
    padding: 0;
  }

  .grid-item {
    padding: 0;
  }

  .item1 {
    height: 558px;
    grid-column: 1/ span 3;
    grid-row: 1;
  }

  .about-me p {
    margin-top: 20px;
    width: 100%;
    height: 126px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #1a2236;
  }

  #about-view {
    width: 100%;
    height: 50px;
    background: #1a2236;
    margin-top: 32px;
    border: none;
  }

  .project-view-btn {
    width: 100%;
    height: 24px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fff;
  }

  .cv-btn {
    width: 25px;
    height: 18px;
    margin-left: 20px;
    box-sizing: border-box;
  }

  .langs-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    margin-left: 160px;
  }

  .langs-section img {
    margin-top: -10px;
    margin-left: 193px;
    width: 96px;
    height: 80px;
  }

  .social-container img {
    margin-left: 16px;
  }

  .dot-image img {
    width: 100px;
    margin-top: 5px;
    margin-left: -72px;
  }

  .langs-section .langs-img-dsk img {
    width: 222.02px;
    height: 222px;
    margin-top: 75px;
    margin-left: 67px;
  }

  .langs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 289px;
    background: #1c528a;
    margin-top: 0;
  }

  .content-list {
    margin-left: 50px;
    color: #fff;
    padding-top: 50px;
  }

  .content-list h3 {
    margin-left: 27px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
  }

  .content-list ul {
    margin-top: 20px;
  }

  .frameworks {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 289px;
    background: #e2505c;
    margin-top: 0;
  }

  .skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #febf52;
    margin-top: 0;
    height: 289px;
  }

  /* footer */
  footer {
    width: 100%;
    height: 950px;
    left: 0;
    background: #f9f9fa;
    margin-top: 158px;
  }

  .footer-container {
    display: flex;
    background: #f9f9fa;
    width: 100%;
  }

  .footer-container .header-img-left img {
    width: 170%;
    height: 350.84px;
    left: 0;
  }

  .footer-container .img-cont-dsk-right {
    margin-top: 596px;
  }

  .footer-container .img-cont-dsk-right img {
    width: 100%;
    height: 350.84px;
    margin-top: 30px;
  }

  .contact {
    width: 80%;
    margin-top: 168px;
    margin-bottom: 135px;
    margin-left: 20%;
    margin-right: 20%;
    align-self: center;
    align-items: center;
  }

  .contact h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 118px;
    line-height: 100%;
    text-align: center;
    color: #1a2236;
    width: 100%;
  }

  .contact p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
    margin-top: 40px;
    margin-bottom: 60px;
    width: 100%;
  }

  .contact input {
    width: 47%;
    height: 60px;
    background: #fff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .contact .name {
    margin-right: 5%;
  }

  .contact textarea {
    width: 100%;
    height: 140px;
    background: #fff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 42px;
  }

  .social-footer {
    width: 100%;
    height: 123px;
    left: 0;
    background: #1a2236;
  }

  .social-footer ul {
    display: flex;
    list-style-type: none;
  }

  .social-container {
    display: flex;
    border-top: 32px solid #1a2236;
    border-bottom: 40px solid #1a2236;
    border-left: 16px solid #1a2236;
    border-right: 16px solid #1a2236;
  }

  .social-container p {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #92dcdc;
    margin-left: 160px;
    margin-right: 450px;
  }

  .projects-vert {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  .title {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: 140px;
  }

  .dot-image {
    grid-area: 1 / 2 / 2 / 3;
  }

  .project-lg-1-dsk h3 {
    width: 100%;
    height: 48px;
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 80%;
    color: #fff;
  }

  .about-me-dsk h3 {
    height: 110px;
    width: 100%;
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 110px;
    color: #1a2236;
    margin-bottom: 30px;
  }

  .header-my-name h3:hover {
    color: #e2505c;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .about-me-dsk p {
    width: 446px;
    height: 84px;
    left: 834px;
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #1a2236;
    margin-bottom: 42px;
  }

  .projects-vert .title h3 {
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 110px;
    line-height: 100%;
    color: #1a2236;
    transform: rotate(-90deg);
  }

  .item2 {
    width: 100%;
    grid-column: 2/ span 3;
    grid-row: 1;
    background-image: url('../images/Rectangle1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .project-lg-1-dsk {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 353px;
    margin-top: 205px;
    background: linear-gradient(0deg, rgba(26, 34, 54, 0.95), rgba(26, 34, 54, 0.95));
    backdrop-filter: blur(24px);
  }

  .item2 .project-lg-1-dsk {
    background: linear-gradient(0deg, rgba(26, 34, 54, 0.95), rgba(26, 34, 54, 0.95));
    backdrop-filter: blur(24px);
  }

  .item2 .project-lg-1-dsk h3 {
    margin-top: 30px;
    margin-bottom: 34px;
    margin-left: 4%;
    width: 100%;
    height: 32px;
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 80%;
    color: #fff;
  }

  .list-languages ul {
    display: flex;
    list-style: none;
    margin-left: 80px;
  }

  .list-languages ul li:last-child {
    width: 20%;
  }

  .list-languages ul li:first-child {
    width: 20%;
    margin: 0 2px;
  }

  .item2 .list-languages ul {
    display: flex;
    list-style: none;
  }

  .item2 .list-languages ul li {
    background: #98dede;
    font-size: smaller;
    width: 20%;
    height: 40px;
    padding: 3%;
  }

  .item4 .list-languages ul li {
    background: #98dede;
    font-size: smaller;
    width: 50%;
    height: 40px;
    padding: 3%;
  }

  .item2 .list-languages ul li:last-child {
    width: 16%;
    height: 40px;
    margin-left: 5px;
  }

  .item2 .list-languages ul li:first-child {
    width: 18%;
    height: 40px;
  }

  .project-view {
    margin-top: 60px;
    margin-left: 40px;
    background-color: #fff;
    border: 1px solid #fff;
    width: 50%;
    height: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .project-view-union {
    height: 27px;
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #1a2236;
  }

  .project-view i {
    margin-left: 15px;
    color: #1a2236;
  }

  .langs-li-dsk p {
    padding: 10px 14px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;
    color: #1a2236;
  }

  .item2 .project-view {
    color: #1a2236;
    height: 51px;
    width: 20%;
  }

  .item2 .project-view i {
    margin-left: 15px;
    color: #1a2236;
  }

  .item2 .langs-li-dsk p {
    margin: -13%;
  }

  .list-languages {
    margin-left: -43px;
    margin-top: 34px;
  }

  .item3 {
    grid-column: 1 / span 3;
    grid-row: 2;
    display: flex;
  }

  #img-dsk-3-1 img {
    width: 100%;
    height: 270px;
    left: 0;
    margin-top: 80px;
  }

  #img-dsk-3 img {
    width: 100%;
    height: 350px;
  }

  .item4 {
    grid-column: 4 / span 1;
    grid-row: 2/4;
    background-image: url('../images/Rectangle6.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .item4 .project-lg-1-dsk {
    height: 218px;
    background: linear-gradient(0deg, rgba(26, 34, 54, 0.95), rgba(26, 34, 54, 0.95));
    backdrop-filter: blur(24px);
    margin-top: 52px;
  }

  .item4 .project-lg-1-dsk h3 {
    margin-top: 30px;
    margin-left: 8%;
    width: 100%;
    height: 32px;
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80%;
    color: #fff;
  }

  .item4 .list-languages ul {
    display: flex;
    list-style: none;
    margin-bottom: -40px;
  }

  .item4 .list-languages ul li:last-child {
    width: 57px;
    height: 40px;
    margin-left: 5px;
  }

  .item4 .list-languages ul li:first-child {
    height: 40px;
  }

  .item4 .project-view i {
    margin-left: 15px;
    color: #1a2236;
  }

  .item4 .langs-li-dsk p {
    padding: 0 4%;
  }

  #item4-2 img {
    width: 100%;
    height: 270px;
    margin-top: -7px;
    margin-left: 0;
  }

  #item4-3 img {
    width: 83%;
    height: 175.42px;
    margin-top: -7px;
    margin-bottom: 99px;
    margin-left: 84px;
  }

  .item5 {
    grid-column: 1 / span 3;
    display: flex;
  }

  .item8 {
    grid-column: 3 / span 2;
    display: flex;
  }

  #item8 img {
    height: 270px;
    width: 100%;
    margin: -2% 0 0 4%;
  }

  #item7 {
    height: 87.71px;
    margin: -4% 0 0 67%;
  }

  #item7 img {
    height: 87.71px;
    margin-top: 5%;
    margin-left: 28%;
  }

  #item5-left img {
    width: 100%;
    height: 465px;
    margin-left: 0;
  }

  #item5-right img {
    margin-top: 290px;
    margin-left: 0;
  }

  /* about */
  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    margin-top: 216px;
    width: 100%;
  }

  .about-me {
    display: none;
  }

  .about-me-dsk {
    height: 278px;
    margin-left: 96px;
    margin-top: 28px;
  }

  .about-me-dsk button {
    width: 50%;
    height: 70px;
    background: #1a2236;
    border: none;
  }
}
