* {
  margin: 0%;
}
a {
  text-decoration: none;
}
@media (min-width: 150px) and (max-width: 768px) {
  .header-top {
    display: flex;
    flex-direction: row;
  }

  .header-img-left {
    margin-left: 0;
  }

  #header-nav-lg {
    width: 40px;
    height: 14px;
    margin-top: 16px;
    margin-left: 174px;
    color: #c4c4c4;
  }

  #header-nav-lg a {
    color: #c4c4c4;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
  }

  .header-my-name {
    width: 220px;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 36px;
  }

  .header-my-name h3 {
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
  }

  .header-about {
    width: 288px;
    height: 126px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .aboutme {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
  }

  .header-btn {
    width: 288px;
    height: 50px;
    margin-left: 16px;
    background: #1a2236;
  }

  .btn-collabo {
    width: 288px;
    height: 50px;
    background: #1a2236;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgb(255 255 255);
    border: none;
    cursor: pointer;
  }

  .header-img-bottom {
    width: 320px;
    height: 160px;
    margin-left: 0;
    margin-top: 32px;
  }

  /* sections */
  .projects {
    display: grid;
    grid-template-areas: 'projects-wrapper';
    gap: 0;
    padding: 0;
    margin-top: 40px;
  }

  .title {
    height: 50px;
    margin-left: 16px;
    font-family: Playfair Display, Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
    margin-bottom: 32px;
  }

  .projects-wrapper {
    display: flex;
    flex-direction: column;
    height: 342px;
  }

  .project-img {
    width: 320px;
    height: 186px;
    margin-left: 0;
    border: 0.333333px solid rgba(255, 255, 255, 0.1);
  }

  .project-lg {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 156px;
    margin-top: -6px;
    background: #1a2236;
    border: 0.333333px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
  }

  .project-lg-1 {
    display: flex;
    flex-direction: column;
    width: 264px;
    height: 156px;
    margin-left: 20px;
  }

  .project-lg-1 h3 {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 16px;
    margin-left: 0;
  }

  .list-languages {
    margin-left: -43px;
  }

  .list-languages ul {
    display: flex;
    list-style: none;
    width: 300px;
  }

  .list-languages ul li {
    background: #98dede;
    font-size: smaller;
    height: 20px;
    margin: 0 5px;
  }

  /* .fa-img {
    size: 2pt;
  } */
  .project-view {
    margin-top: 20px;
    background-color: #1a2236;
    border: 1px solid #fff;
    width: 178px;
    height: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
  }

  .project-view-union {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fff;
  }

  .project-view img {
    padding-left: 12px;
  }

  /* about */
  .about {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .about-me {
    width: 288px;
    height: 278px;
  }

  .about-me h3 {
    width: 134px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
  }

  .about-me p {
    margin-top: 20px;
    width: 288px;
    height: 126px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #1a2236;
  }

  #about-view {
    width: 288px;
    height: 50px;
    background: #1a2236;
    margin-top: 32px;
    border: none;
  }

  .project-view-btn {
    width: 86px;
    height: 24px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fff;
  }

  .cv-btn {
    width: 24px;
    height: 18px;
    margin-left: 201px;
    border: 2px solid #fff;
    box-sizing: border-box;
  }

  .langs-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .langs {
    display: flex;
    flex-direction: column;
    width: 289px;
    background: #1c528a;
    margin-top: 20px;
  }

  .content-list {
    margin-left: 50px;
    color: #fff;
    padding-top: 50px;
  }

  .content-list h3 {
    margin-left: 27px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
  }

  .content-list ul {
    margin-top: 20px;
  }

  .content-list ul li {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.0525em;
  }

  .frameworks {
    display: flex;
    flex-direction: column;
    width: 289px;
    background: #e2505c;
    margin-top: 16px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    width: 289px;
    background: #febf52;
    margin-top: 16px;
  }

  .langs-section img {
    margin-left: 193px;
    width: 96px;
    height: 80px;
  }

  /* footer and contact */
  footer {
    margin-top: 50px;
    width: 320px;
    height: 813px;
    margin-left: -2px;
    background: #f9f9fa;
  }

  .contact {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    margin-right: 14px;
    margin-top: 32px;
  }

  .contact-description h3 {
    font-family: Playfair Display, Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
    margin-bottom: 20px;
  }

  .contact-description p {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
    margin-bottom: 32px;
  }

  form {
    padding-bottom: 8px;
  }

  form #name {
    background: #fff;
    border: 1px solid #dfdfe0;
    box-sizing: border-box;
    border-radius: 4px;
    width: 288px;
    height: 52px;
  }

  form #email {
    background: #fff;
    border: 1px solid #dfdfe0;
    box-sizing: border-box;
    border-radius: 4px;
    width: 288px;
    height: 52px;
    margin-top: 8px;
  }

  form textarea {
    width: 288px;
    height: 112px;
    background: #fff;
    border: 1px solid #dfdfe0;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 20px;
  }

  .social-footer {
    width: 320px;
    height: 150px;
    margin-left: 0;
    margin-top: 44px;
    margin-bottom: 0;
    background: #1a2236;
  }

  .social-footer ul {
    display: flex;
    list-style-type: none;
    width: 253px;
    margin-right: 100px;
    /* margin-left: -100px; */
    align-content: center;
    align-self: center;
  }

  .social-footer ul li {
    color: #fff;
    margin-left: 0px;
    padding-left: 10px;
    margin-right: 0px;
    padding-right: 0px;
  }

  .social-container {
    display: flex;
    flex-direction: column;
    border-top: 32px solid #1a2236;
    border-bottom: 40px solid #1a2236;
    border-left: 16px solid #1a2236;
    border-right: 16px solid #1a2236;
  }

  .social-container p {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 253px;
    color: #92dcdc;
    margin-bottom: 20px;
    margin-left: 16px;
  }
  .social-container img {
    margin-left: 16px;
  }
}
