@media (max-width: 768px) {
  .btn-group {
    border: 2px solid #fff;
    width: 80%;
    height: 50px;
    background: #1a2236;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
  }

  .open-menu {
    font-weight: bold;
    color: #fff;
    padding: 0.75rem 1.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
  }

  /* menu */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: rgba(26, 34, 54, 0.95);
    backdrop-filter: blur(24px);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }

  .menu.is-visible {
    visibility: visible;
    z-index: 2;
    opacity: 1;
  }

  .menu-dialog {
    position: fixed;
    background-image: url('../images/mobile-menu.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    cursor: default;
  }

  .menu-dialog > * {
    padding: 1rem;
  }

  .menu-header {
    align-items: center;
    justify-content: space-between;
  }

  .menu-header .close-menu {
    font-size: 1.5rem;
    position: absolute;
    margin: 0 0 0 85%;
  }

  .menu-dialog .mobile-nav {
    position: absolute;
    margin: 40%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 300%;
    text-align: center;
    color: #000;
  }
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }
}
